@media (max-width:700px) {

header{
  font-size:5px;
  height:30px;
}
header p{
  padding:  0px;
  margin: 0px;
}

.top-wrapper{
  width:100%;
  height:400px;
  margin:0 auto;
}
.container h1{
  padding:200px 0px;
  font-size:17px;
}

.lesson-left {
    width:100%;
    margin-bottom:0px;
    padding: 20px 0px 0px 0px;
  }
.lesson-left h2{
    font-size: 20px;
    padding:30px 0px;
  }
.lesson-left p{
    padding:0px 20px 25px 20px;
    font-size:12px;
    line-height: 25px;
  }
.lesson-right{
    width:100%;
  }
.lesson-right img{
    width:300px;
    height:300px;
  }
.lesson-wrapper{
    padding:0px;
    height:640px;
  }


.guide h2 {
  font-size:20px;
  padding:0;
}
.guide p{
  font-size: 12px;
  line-height:25px;
  padding:10px 10%;
}
.guide img{
  width:300px;
  margin:0;
}


.kimete{
  height:120px;
  padding-top: 30px;
  font-size:15px;
}

.kimete-wrapper {
  height: 580px;
}
.kimete-left{
  width:100%;
  padding:0px 10px;
}
.kimete-left h2{
  font-size: 15px;
}
.kimete-left p{
  font-size: 12px;
  line-height: 25px;
  padding:20px 0px;
}
.kimete-right{
  width:100%;
}


.kimete2-wrapper {
  height: 550px;
}
.kimete2-right{
  width:100%;
  padding:0px 10px;
}
.kimete2-right h2{
  font-size:15px;
}
.kimete2-right p{
  font-size: 12px;
  line-height: 25px;
  padding:20px 0px;
}
.kimete2-left{
  width:100%;
}

.kimete3-wrapper {
  height: 530px;
}
.kimete3-left{
  width:100%;
  padding:0px 10px;
}
.kimete3-left h2{
  font-size: 15px;
}
.kimete3-left p{
  font-size: 12px;
  line-height: 25px;
  padding:20px 0px;
}
.kimete3-right{
  width:100%;
}


.matome-wrapper {
  height: 1050px;
  padding-top:10px;
  background-color:#f5f5f5;
  text-align: center;
}
.matome-right{
  width:100%;
}
.matome-left{
  width:100%;
  padding-bottom: 30px;
}
.matome-right h2{
  font-size: 18px;
  padding-left: 40px;
  padding-top:20px;
}
.matome-right p{
  font-size: 12px;
  line-height: 10px;
  font-weight: bold;
  padding:20px 0px 0px 40px;
}
.matome-left h2{
  font-size: 18px;
  padding-left:40px;
  padding-top:40px;
}
.matome-left p{
  font-size: 12px;
  line-height:10px;
  padding:20px 0px 0px 40px;
  font-weight: bold;
}
.matome-wrapper ul{
  font-size: 10px;
}

.faq-wrapper {
  padding-top:0px;
}
#faq-list {
  width: 100%;
  padding:0px 0px 0px  0px;
}

.faq-list-item h3 {
  font-size: 12px;
}
.answer {
  font-size: 10px;
  line-height: 20px;
}

footer {
  height:30px;

  background-color: rgba(34, 49, 52, 0.9);
}
footer p{
  font-size: 10px;
  float:right;
  padding:8px;
  color:white;
  margin:0px;
}


}
