*{box-sizing:border-box;}
*{list-style: none;}

.container {
  width:100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 45px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}
.header-left p {
  color:white;
  padding:10px 0px;
  margin:0px;
}

.top-wrapper{
  width:100%;
  height:800px;
  margin:0 auto;
  padding-right:0px;
  padding-left:0px;
  background-image:url(S__6103072.jpg);
  background-size:cover;
  text-align: center;
}
.container h1{
  padding:350px 100px;
  margin:0px;
  opacity: 0.8;
  color:black;
  font-size: 30px;
}

.lesson-wrapper {
  height: 700px;
  padding:50px 0px 200px 0px;
  background-color:white;
  text-align: center;
}
.lesson-left{
  float:left;
  width:50%;
  text-align: center;
  padding-top:100px;
}
.lesson-left h2{
  font-size: 35px;
}
.lesson-left p{
  font-size: 30px
  color: #5f5d60;
  line-height: 40px;
  padding:10px 20px 0px 0px;
}
.lesson-right{
  float:right;
  width:50%;
}
.lesson-right img{
  border:5px solid #f5f5f5;
  border-radius: 3000px;

}
.guide{
  text-align: center;
}
.guide h2{
  font-size: 30px;
  padding-bottom:50px;
}
.guide p{
  font-weight: normal;
  font-size:20px;
}
.guide-text p{
  font-size:18px;
  padding: 30px 20%;
  line-height: 35px;
}
.guide img{
  margin:10px 0px;
  border-radius: 20px;
}


.explain {
  max-height:700px;
  text-align: center;
}
.explain-upper{
  padding:80px 100px 0px 100px;
  width: 100%;
}
.explain-upper h3{
  font-size: 50px;
}
.explain-text{
  padding:0px 150px 80px 150px;
}
.explain-text p{
  font-size: 17px;
  color:black;
  line-height: 40px;
}

.kimete{
  height:250px;
  padding-top: 50px;
  background-color:#f5f5f5;
  font-size:35px;
  text-align: center;
}
.kimete-wrapper {
  height: 360px;
  padding-top:30px;
  background-color:white;
  text-align: center;
}
.kimete-left{
  float:left;
  width:50%;
  padding:30px 5% 0px 5%;
  text-align: center;
}
.kimete-left h2{
  font-size: 25px;
}
.kimete-left p{
  font-size: 30px
  color: #5f5d60;
  line-height: 35px;
}
.kimete-right{
  float:right;
  width:50%;
}
.kimete-right img{
  border:10px solid #f5f5f5;
  border-radius: 3000px;
}

.kimete2-wrapper {
  height: 360px;
  padding-top:30px;
  background-color:#f5f5f5;
  text-align: center;
}
.kimete2-right{
  float:right;
  width:50%;
  padding:40px 5% 0px 5%;
  text-align: center;
}
.kimete2-right h2{
  font-size: 25px;
}
.kimete2-right p{
  font-size: 30px
  color: #5f5d60;
  line-height:35px;
}
.kimete2-left{
  float:left;
  width:50%;
}
.kimete2-left img{
  border:10px solid white;
  border-radius: 3000px;
}

.kimete3-wrapper {
  height: 360px;
  padding-top:30px;
  background-color:white;
  text-align: center;
}
.kimete3-left{
  float:left;
  width:50%;
  padding:65px 0px 0px 0px;
  text-align: center;
}
.kimete3-left h2{
  font-size: 25px;
}
.kimete3-left p{
  font-size: 30px
  color: #5f5d60;
  line-height:35px;
}
.kimete3-right{
  float:right;
  width:50%;
}
.kimete3-right img{
  border:10px solid #f5f5f5;
  border-radius: 3000px;
}

.matome-wrapper {
  height: 750px;
  padding-right: 30px;
  padding-top:10px;
  background-color:#f5f5f5;
  text-align: center;
}
.matome-right{
  float:right;
  width:50%;
  text-align:center;
}
.matome-right h2{
  font-size: 35px;
  padding-left: 30px;
}
.matome-right p{
  font-size: 15px;
  line-height: 10px;
  font-weight: bold;
  padding:30px 0px 0px 30px;
}
.matome-left{
  float:left;
  width:50%;
  text-align:center;
  padding-top:0px;
}

.matome-left h2{
  font-size: 35px;
  padding-left: 30px;
}
.matome-left p{
  font-size: 15px;
  line-height:10px;
  padding:20px 0px 0px 30px;
  font-weight: bold;
}

/*faq wrapper*/
.faq-wrapper {

  background-color: white;
  text-align: center;
  padding-bottom: 80px;
  color: #5f5d60;
  padding-top:50px;
}
#faq-list {
  width: 950px;
  margin: 0 auto;
  padding:30px 0px 0px  0px;
  list-style: none;
}
.faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}
.faq-list-item h3 {
  font-size: 15px;
}
.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}
.answer {
  font-size: 15px;
  padding: 5px 0px;
  margin-bottom: 15px;
  /* displayプロパティをnoneにしてください */
  display: none;
}


footer {
  padding-top:100px;
  width:100%;
  height:40px;
  margin-top:10px;
  padding-top:00px;
  background-color: rgba(34, 49, 52, 0.9);
}

footer p{
  float:right;
  padding:10px 30px;
  color:white;
  margin:0px;
}

